.mh-skills .mh-professional-skill{
	padding-right: 60px;
	color: #fff;
}
/*.mh-skills .mh-professional-skill h3{
	font-size: 30px;
	line-height: 40px;
	text-align: center;
	font-weight: 400;
	margin-bottom: 60px;
	font-family: 'Poppins',sans-serif;
}*/
.candidates{
	position: relative;
	margin-bottom: 15px;
	font-family: 'Poppins', sans-serif;
}
.candidates .parcial{
	display: inline-block;
	width: 100%;
	vertical-align: middle;
}
.candidates .parcial .info .nome{
	position: absolute;
	top: 0;
	left: 0;
	font-size: 15px;
	font-weight: 600;
	opacity: 0.9;
	font-family: 'Poppins',sans-serif;
}
.candidates .parcial .info .percentage-num{
	position: absolute;
	top: 0;
	right: 0;
	font-size: 14px;
	font-weight: normal;
}
.candidates .parcial .progressBar{
	position: relative;
	width: 100%;
	height: 7px;
	margin: 30px 0 2px;
	border-radius: 10px;
	background: rgba(0,0,0,0.5);
}
.candidates .parcial .percentagem{
	position: absolute;
	top: 0;
	left: 0;
	height: 7px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background: #0bceaf;
	-webkit-transition: 3s all;
	-webkit-animation-duration: 3s;
	-webkit-animation-name: animationProgres;
	font-family: 'Poppins',sans-serif;
}
 

@keyframes animationProgres{
	from{
		width: 0;
	}
}